Repository RKDN-DN3/DN3InterK1, pull requests merged in 2022-09, with the labels that each got.

#27 Feature/QUIZ-90
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Database/Enum/Enum.cs
  Quiz/Quiz.Database/Migrations/SeedData_Account.cs
  Quiz/Quiz.Database/Migrations/SeedData_Exam_History.cs
  Quiz/Quiz.Database/Migrations/SeedData_Examination.cs
  Quiz/Quiz.Database/Repositories/ExamHistoryRepository.cs
  Quiz/Quiz.Database/Repositories/IExamHistoryRepository.cs
  Quiz/Quiz.Database/Repositories/IUnitOfWork.cs
  Quiz/Quiz.Database/Repositories/UnitOfWork.cs
  Quiz/Quiz.Database/ViewModels/ExamHistoryVM.cs
  Quiz/Quiz.Entities/Exam_History.cs
  Quiz/Quiz.Web/Areas/User/Controllers/HistoryController.cs
  Quiz/Quiz.Web/Areas/User/Views/History/Index.cshtml
  Quiz/Quiz.Web/Areas/User/Views/_ViewImports.cshtml
  Quiz/Quiz.Web/Areas/User/Views/_ViewStart.cshtml
  Quiz/Quiz.Web/Program.cs
  Quiz/Quiz.Web/Views/Shared/_Layout.cshtml
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-90

#28 Feature/Quiz-91
  Quiz/Quiz.Web/Areas/User/Controllers/InfoUserController.cs
  Quiz/Quiz.Web/Areas/User/Views/InfoUser/Index.cshtml
  Quiz/Quiz.Web/Views/Shared/_Layout.cshtml
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-91

#29 Feature/QUIZ-93
  Quiz/Quiz.Database/Migrations/SeedData_Answer.cs
  Quiz/Quiz.Database/Repositories/AnswerRepository.cs
  Quiz/Quiz.Database/Repositories/IAccountRepository.cs
  Quiz/Quiz.Database/Repositories/IAnswerRepository.cs
  Quiz/Quiz.Database/Repositories/IUnitOfWork.cs
  Quiz/Quiz.Database/Repositories/UnitOfWork.cs
  Quiz/Quiz.Database/ViewModels/QuestionsVM.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionBankController.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Detail.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Edit.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Index.cshtml
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-93

#30 Feature/QUIZ-89
  Quiz/Quiz.Database/Repositories/ExaminationRepository.cs
  Quiz/Quiz.Database/Repositories/IExaminationRepository.cs
  Quiz/Quiz.Database/Repositories/IUnitOfWork.cs
  Quiz/Quiz.Database/Repositories/UnitOfWork.cs
  Quiz/Quiz.Database/ViewModels/ExaminationVM.cs
  Quiz/Quiz.Web/Areas/User/Controllers/ExaminationController.cs
  Quiz/Quiz.Web/Areas/User/Views/Examination/DoExam.cshtml
  Quiz/Quiz.Web/Areas/User/Views/Examination/Index.cshtml
  Quiz/Quiz.Web/Views/Shared/_Layout.cshtml
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-89

#31 Feature/QUIZ-43
  Quiz/Quiz.Web/Areas/Admin/Controllers/AccountsController.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionBankController.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Index.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Detail.cshtml
  Quiz/Quiz.Web/Views/Shared/_Layout.cshtml
  Quiz/Quiz.Web/wwwroot/css/site.css
  Quiz/Quiz.Web/wwwroot/js/site.js
Labels: Quiz-43

#34 Feature/QUIZ-104
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Edit.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Index.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Detail.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Edit.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Index.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/QuestionBank/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/QuestionBank/Edit.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/QuestionBank/Index.cshtml
  Quiz/Quiz.Web/wwwroot/css/site.css
  Quiz/Quiz.Web/wwwroot/js/site.js
Labels: Quiz-104

#35 feature/QUIZ-106
  Quiz/Quiz.Database/ViewModels/AccountsVM.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/AccountsController.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionBankController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Create.cshtml
  Quiz/Quiz.Web/wwwroot/js/site.js
Labels: Quiz-106
