Repository RKDN-DN3/DN3InterK1, pull requests merged in 2022-08, with the labels that each got.

#2 Feature/QUIZ-74
  Quiz/Quiz.Database/Migrations/20220808041442_procatetodb.Designer.cs
  Quiz/Quiz.Database/Migrations/20220808041442_procatetodb.cs
  Quiz/Quiz.Database/Migrations/ApplicationDBContextModelSnapshot.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question.cs
  Quiz/Quiz.Database/Quiz.Database.csproj
  Quiz/Quiz.Entities/Question.cs
  Quiz/Quiz.Web/Program.cs
  Quiz/Quiz.Web/Quiz.Web.csproj
  Quiz/Quiz.Web/appsettings.json
Labels: Quiz-74

#9 Feature/QUIZ-77
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question_Bank.cs
  Quiz/Quiz.Entities/Accounts.cs
  Quiz/Quiz.Entities/Question_Bank.cs
  Quiz/Quiz.Web/Program.cs
Labels: Quiz-77

#11 Feature/QUIZ-78
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Entities/Examination.cs
  Quiz/Quiz.Entities/Examination_Detail.cs
Labels: Quiz-78

#12 QUIZ-84 Create & Seed Data Answer Model
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Database/Migrations/SeedData_Answer.cs
  Quiz/Quiz.Entities/Answer.cs
Labels: Quiz-84

#13 feature/QUIZ-80
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Database/Migrations/SeedData_Answer.cs
  Quiz/Quiz.Database/Migrations/SeedData_List_Question_In_Exam.cs
  Quiz/Quiz.Entities/Answer.cs
  Quiz/Quiz.Entities/Examination.cs
  Quiz/Quiz.Entities/List_Question_In_Exam.cs
  Quiz/Quiz.Entities/Question.cs
  Quiz/Quiz.Entities/Question_Bank.cs
Labels: quiz-80

#14 feature/QUIZ-81
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Entities/Accounts.cs
  Quiz/Quiz.Entities/Exam_History.cs
  Quiz/Quiz.Entities/Exam_History_Detail.cs
  Quiz/Quiz.Entities/Examination.cs
Labels: Quiz-81

#16 Feature/QUIZ-24
  Quiz/Quiz.Database/Quiz.Database.csproj
  Quiz/Quiz.Database/Repositories/IQuestionBankRepository.cs
  Quiz/Quiz.Database/Repositories/IUnitOfWork.cs
  Quiz/Quiz.Database/Repositories/QuestionBankRepository .cs
  Quiz/Quiz.Database/Repositories/UnitOfWork.cs
  Quiz/Quiz.Database/ViewModels/QuestionsVM.cs
  Quiz/Quiz.Entities/Question.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Index.cshtml
  Quiz/Quiz.Web/Quiz.Web.csproj
  Quiz/Quiz.Web/wwwroot/Images/Class Diagram-Page-1.drawio.png
  Quiz/Quiz.Web/wwwroot/Images/car.jpg
  Quiz/Quiz.Web/wwwroot/Images/i-love-math-52873446.jpg
  Quiz/Quiz.Web/wwwroot/Images/sun.png
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-24

#18 Feature/QUIZ-27
  Quiz/Quiz.Database/Migrations/SeedData_Question.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question_Bank.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Delete.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Index.cshtml
  Quiz/Quiz.Web/Program.cs
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-27

#15 Feature/QUIZ-25
  Quiz/Quiz.Database/Migrations/SeedData_Question.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question_Bank.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Delete.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Question/Index.cshtml
  Quiz/Quiz.Web/Program.cs
  Quiz/Quiz.Web/wwwroot/css/site.css
Labels: Quiz-25

#17 Feature/QUIZ-85
  Quiz/Quiz.Database/Data/ApplicationDBContext.cs
  Quiz/Quiz.Database/Migrations/SeedData_Account.cs
  Quiz/Quiz.Database/Migrations/SeedData_Answer.cs
  Quiz/Quiz.Database/Migrations/SeedData_Exam_History.cs
  Quiz/Quiz.Database/Migrations/SeedData_Exam_History_Detail.cs
  Quiz/Quiz.Database/Migrations/SeedData_Examination.cs
  Quiz/Quiz.Database/Migrations/SeedData_Examination_Detail.cs
  Quiz/Quiz.Database/Migrations/SeedData_List_Question_In_Exam.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question.cs
  Quiz/Quiz.Database/Migrations/SeedData_Question_Bank.cs
  Quiz/Quiz.Entities/BaseEntity.cs
  Quiz/Quiz.Entities/Exam_History_Detail.cs
  Quiz/Quiz.Web/Program.cs
Labels: Quiz-88

#23 Feature/QUIZ-86
  Quiz/Quiz.Database/Migrations/SeedData_Question_Bank.cs
  Quiz/Quiz.Database/Repositories/QuestionBankRepository.cs
  Quiz/Quiz.Database/ViewModels/QuestionBanksVM.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionBankController.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/QuestionController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/QuestionBank/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/QuestionBank/Edit.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/QuestionBank/Index.cshtml
  Quiz/Quiz.Web/Views/Shared/_Layout.cshtml
Labels: Quiz-86

#24 Feature/QUIZ-21
  Quiz/Quiz.Database/Repositories/IAccountRepository.cs
  Quiz/Quiz.Database/ViewModels/AccountVM.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/AccountController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Account/Index.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Create.cshtml
Labels: Quiz-21

#25 Feature/QUIZ-22
  Quiz/Quiz.Database/Repositories/AccountRepository.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/AccountController.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/AccountsController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Create.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Edit.cshtml
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Index.cshtml
Labels: Quiz-22

#26 Feature/QUIZ-23
  Quiz/Quiz.Database/Enum/Enum.cs
  Quiz/Quiz.Database/ViewModels/AccountVM.cs
  Quiz/Quiz.Web/Areas/Admin/Controllers/AccountsController.cs
  Quiz/Quiz.Web/Areas/Admin/Views/Accounts/Index.cshtml
Labels: Quiz-23
